# Dependency directories
node_modules/
cargo/
npm/
yarn/

# Output of 'npm pack'
*.tgz

# Vite output
dist/
dist-ssr/

# dotenv environment variables file
env

# Lock files
package-lock.json
*.lock

# Rust compiled folders
target/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Miscellaneous
/.vs
DS_Store
Thumbs.db
debug.log
TODO.md

#mock
public/mock*

# Microsoft Store
src-tauri/gen/windows/Assets

# DB Files
src/assets/debloat-data.json
src/assets/device-db.json
